
.app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameField {
    width: 600px;
    height: 600px;
    position: relative;
    background-color: #79b48d;
    border: solid 15px #574c37;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.8) inset;
    
}