.snake-cell {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    background-color: rgb(39, 68, 112);
    position: absolute;
    border-radius: 40% 60% 40% 60%;
    border: solid 1px #022247;
    box-shadow: -2px 2px 7px 0px rgba(0,0,0,0.8);
}

.snake-cell:first-child {
    background-color: rgb(177, 80, 80);
    border: solid 1px #751e08;
    z-index: 20;
}

/* .snake-cell:nth-child(2) {
    border-radius: 60% 40% 60% 40%;
} */